@tailwind base;
@tailwind components;
@tailwind utilities;

html body {
  padding: 0;
  margin: 0;
  width: 100vw
}

.error {
  @apply text-red text-xs mt-1
}


.activeMenu {
  @apply  hover:bg-bg3 hover:border-l-4 hover:border-blue1 duration-200
}

.topbar-activeMenu {
  @apply  hover:bg-bg3  duration-150
}

.icon {
@apply w-6 h-6 text-text1
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
